rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{studentId} {
      allow read, write: if true;
    }
    match /classroom/{layoutId} {
      allow read, write: if true;
    }
    match /materials/{materialId} {
      allow read, write: if true;
    }
    match /seating/{docId} {
      allow read, write: if true;
    }
    match /cheatingAlerts/{alertId} {
      allow read, write: if true;
    }
    match /examRecords/{examId} {
      allow read, write: if true;
    }
  }
}
